<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Plants vs Zombies</title>
    <link rel="shortcut icon" href="./images/sun-icon.png" type="image/x-icon">
    <link rel="stylesheet" href="./src/style.css">
</head>

<body>
    <div id="game" v-cloak>
        <div class="game">
            <div class="plant-board">
                <div class="sun-score" id="score" @click="addSunScore">{{ suns }}</div>
                <div class="plants-cost">
                    <div class="plant-cost sun-cost" :class="[suns<50?'notsun':'', sunPlantCooldown>0?'cooldown':'']" @click="open(1, 50, sunPlantCooldown>0)" :style="{'--cooldown': (sunPlantCooldown * 100 / SUN_PLANT_COOLDOWN) + '%'}" id="">
                    </div>
                    <div class="plant-cost power-cost" :class="[suns<100?'notsun':'', attackPlantCooldown>0?'cooldown':'']" @click="open(2, 100, attackPlantCooldown>0)" :style="{'--cooldown': (attackPlantCooldown * 100 / ATTACK_PLANT_COOLDOWN) + '%'}" id="">
                    </div>
                </div>
            </div>
            <div v-for="zombie in zombies" :key="zombie.id" :health="zombie.health" :id="zombie.id" :data-y="zombie.y" :style="{'--zombie-x': zombie.x+'px','--zombie-y': zombie.y}" :class="['zombie', zombie.eating ? 'eat' : 'run']"></div>
            <div class="shovel" :class="plant === 3?'on':''" @click="open(3, 0)"></div>
            <div class="areas" :class="plant !== 0?'on':''">
                <div class="area" v-for="i in 45" :key="i" @click="add((i - 1) % 9, Math.floor((i - 1)/9))">
                    <div
                        v-if="map[Math.floor((i - 1)/9)][(i - 1) % 9] !== 0"
                        :last-plant="isLastPlant((i - 1) % 9, Math.floor((i - 1)/9))"
                        :data-x="(i - 1) % 9"
                        :data-y="Math.floor((i - 1)/9)"
                        :id="map[Math.floor((i - 1)/9)][(i - 1) % 9].id"
                        :key="map[Math.floor((i - 1)/9)][(i - 1) % 9].id"
                        :class="[map[Math.floor((i - 1)/9)][(i - 1) % 9].name, map[Math.floor((i - 1)/9)][(i - 1) % 9].warning ? 'warning' : '', 'plant-item']"
                        :health="map[Math.floor((i - 1)/9)][(i - 1) % 9].health"
                        :interval="map[Math.floor((i - 1)/9)][(i - 1) % 9].interval">
                    </div>
                </div>
            </div>
            <div class="zombie-progress" :style="{'--progress': (zombieCount * 100 / MAX_ZOMBIES) + '%'}">
                <div class="zombie-head"></div>
            </div>
        </div>
        <div v-for="sun,j in sunItems" :key="sun.id" :id="sun.id" @click="sunItemClick(j)" :style="{'--sun-x': sun.x+'px','--sun-y': sun.y+'px'}" class="sun"></div>
        <div v-for="weapon in weapons" :key="weapon.id" :id="weapon.id" :data-y="weapon.gameY" :style="{'--weapon-x': weapon.x+'px','--weapon-y': weapon.y+'px'}" class="weapon"></div>
        <div class="cursor" :class="`cursor-${plant}`" ref="cursor"></div>
        <div class="game-modal" :data-text="isGameWin?'YOU WIN':(isGameOver?'GAME OVER':'')" v-if="isGameOver||isGameWin"></div>
        <div v-if="!isStarted" class="start-overload">
            <button class="start-button" @click="start">START GAME</button>
        </div>
    </div>
    
    <script src="./src/main.js"></script>
    <script src="./src/vue.global.prod.js"></script>
    <script>
        const MAX_ZOMBIES = 20
        const INITIAL_SUN = 500;
        const ZOMBIE_HEATTH = 8;
        const SUN_PLANT_HEALTH = 5;
        const ATTACK_PLANT_HEALTH = 5;
        const ZOMBIE_GENERATE_INTERVAL = 10 * 1000
        const SUN_GENERATE_INTERVAL = 15 * 1000
        const PLANTS_INTERVAL = 1000
        const ATTACK_INTERVAL = 10
        const SUN_PLANT_INTERVAL = 8;
        const ATTACK_PLANT_INTERVAL = 5;
        const SUN_PLANT_COOLDOWN = 8;
        const ATTACK_PLANT_COOLDOWN = 10;

        let interval1
        let interval2
        let interval3
        let interval4

        const { createApp, ref, onMounted } = Vue

        class Element {
            constructor(id, name, health, x, y, interval) {
                this.x = x
                this.y = y
                this.id = id
                this.name = name
                this.health = health
                this.interval = interval
                this.initialInterval = interval
            }

            onInterval(callback, limit=0) {
                this.interval--
                if(this.interval === limit) {
                    callback?.()
                    this.interval = this.initialInterval
                }
            }
        }

        class SunPlant extends Element {
            constructor(id, name, health, x, y, interval, intervalCallback) {
                super(id, name, health, x, y, interval)
                this.warning = false
                this.intervalCallback = intervalCallback
            }
            
            plantInterval() {
                this.onInterval(this.createSun.bind(this))
            }
            
            createSun() {
                const plant = document.getElementById(this.id)
               
                plant.classList.add('create-sun')
                const timeout = setTimeout(() => {
                    plant.classList.remove('create-sun')
                    this.intervalCallback?.()
                    clearInterval(timeout)
                }, 2000)

            }
        }

        class AttackPlant extends Element {
            constructor(id, name, health, x, y, interval, intervalCallback) {
                super(id, name, health, x, y, interval)
                this.warning = false
                this.intervalCallback = intervalCallback
            }
            
            plantInterval() {
                this.onInterval(this.intervalCallback)
            }
        }

        class Sun extends Element {
            constructor(id, x, y, interval, intervalCallback) {
                super(id, 'sun', 1, x, y, interval)
                this.intervalCallback = intervalCallback
            }

            sunInterval() {
                this.onInterval(this.intervalCallback)
            }
        }
        
        class Weapon extends Element {
            constructor(id, x, y, interval, intervalCallback, removeCallback, gameY) {
                super(id, 'weapon', 1, x, y, interval)
                this.initialX = x
                this.gameY = gameY
                this.removeCallback = removeCallback
                this.intervalCallback = intervalCallback
            }

            weaponInterval() {
                this.x += 200;
                this.onInterval(this.intervalCallback, -200)
                
                if(this.interval === -199) {
                    this.removeCallback?.()
                }
            }
            
            kill() {
                
            }
        }
        
        class Zombile extends Element {
            constructor(id, x, y, interval, intervalCallback, eatCallback) {
                super(id, 'zombie', 8, x, y, interval)
                this.eating = false
                this.eatCallback = eatCallback
                this.intervalCallback = intervalCallback
            }

            zombieInterval() {
                if(this.eating) {
                    this.onInterval(this.eatCallback)
                } else {
                    this.x -= 8;
                    this.onInterval(this.intervalCallback)
                }
            }
        }

        const app = createApp({
            setup() {
                const cursor = ref()
                const plant = ref(0)
                const suns = ref(INITIAL_SUN)
                const currentX = ref(0)
                const isGameOver = ref(false)
                const isStarted = ref(false)
                const isGameWin = ref(false)
                const currentY = ref(0)
                const initialX = ref(0)
                const initialY = ref(0)
                const position = ref(0)
                const sunItems = ref([])
                const weapons = ref([])
                const map = ref([
                    [0, 0, 0, 0, 0, 0, 0, 0, 0],
                    [0, 0, 0, 0, 0, 0, 0, 0, 0],
                    [0, 0, 0, 0, 0, 0, 0, 0, 0],
                    [0, 0, 0, 0, 0, 0, 0, 0, 0],
                    [0, 0, 0, 0, 0, 0, 0, 0, 0],
                ])
                const zombies = ref([])
                const zombieCount = ref(0)
                const sunPlantCooldown = ref(SUN_PLANT_COOLDOWN)
                const attackPlantCooldown = ref(ATTACK_PLANT_COOLDOWN)
                

                function onMouseDown(e) {
                    initialX.value = e.clientX - currentX.value;
                    initialY.value = e.clientY - currentY.value;
                }
                
                function onMouseMove(e) {
                    e.preventDefault();
                    currentX.value = e.clientX - initialX.value;
                    currentY.value = e.clientY - initialY.value;

                    cursor.value.style.left = currentX.value - 20 + 'px';
                    cursor.value.style.top = currentY.value - 25 + 'px';
                }
                
                function add(x, y){
                    if(position.value === 'off') return
                    
                    else if(position.value === 'on') {
                        if(map.value[y][x] === 0 || plant.value === 3) {
                            const id = Date.now()
                            switch(plant.value){
                                case 1:
                                    const newSunPlant = new SunPlant(id, 'plant-1', SUN_PLANT_HEALTH, x, y, SUN_PLANT_INTERVAL, () => sunPlantCallback(id))
                                    map.value[y][x] = newSunPlant;
                                    suns.value -= 50
                                    sunPlantCooldown.value = SUN_PLANT_COOLDOWN
                                    break;
                                case 2:
                                    const newAttackPlant = new AttackPlant(id, 'plant-2', ATTACK_PLANT_HEALTH, x, y, Math.random() > 0.5 ? 3 : 2, () => attackPlantCallback(id, y))
                                    map.value[y][x] = newAttackPlant;
                                    suns.value -= 100
                                    attackPlantCooldown.value = ATTACK_PLANT_COOLDOWN
                                    break;
                                case 3: 
                                    map.value[y][x] = 0;
                                    break;
                            }
                            playSound(randimize(['plant.ogg', 'plant2.ogg']))
                            close()
                        }else{
                            playSound('buzzer.ogg')
                        }
                    }
                }
                
                function addSunScore(){
                    suns.value += 25
                    playSound('points.ogg')
                }
                
                function playSound(src, loop){
                    const audio = new Audio(`./sound/${src}`)
                    if(loop) audio.loop = true
                    audio.play().then(() => {
                        if(!loop) delete audio
                    })
                }
                
                function sunItemClick(i) {
                    sunItems.value.splice(i, 1)
                    addSunScore()
                }

                function open(n, sun, isCooldown){
                    if(suns.value<sun || isCooldown){
                        playSound('buzzer.ogg')
                        return
                    }

                    if(plant.value === n) {
                        close()
                        playSound('ceramic.ogg')
                        return
                    }
                    switch(n){
                        case 1: case 2: playSound('seedlift.ogg'); break;
                        case 3: playSound('shovel.ogg'); break;
                    }
                    position.value = 'on'
                    plant.value = n;
                }
                
                function close() {
                    plant.value = 0
                    position.value = 'off'
                }

                function generateZombie(){
                    if(zombieCount.value === 0) playSound('awooga.ogg')

                    if(zombieCount.value >= MAX_ZOMBIES) return

                    playSound(randimize(['lowgroan.ogg', 'lowgroan2.ogg', 'groan.ogg', 'groan2.ogg', 'groan3.ogg', 'groan4.ogg']))

                    const randomY = Math.floor(Math.random() * 5);
                    const id = Date.now()

                    const zombie = new Zombile(id, 800, randomY, 1, zombieCallback(id))
                    zombies.value.push(zombie)

                    zombieCount.value += 1
                }

                function minusCoolDown () {
                    if(sunPlantCooldown.value > 0) sunPlantCooldown.value -= 1
                    if(attackPlantCooldown.value > 0) attackPlantCooldown.value -= 1
                }

                function start(){ 
                    isStarted.value = true

                    playSound('plants_vs_zombies_04 - Grasswalk.mp3', true)

                    interval1 = setInterval(() => {
                        intervalZombies()
                        intervalPlants()
                        minusCoolDown()

                        if(isGameOver.value || isGameWin.value) {
                            if(isGameWin.value) playSound('winmusic.ogg')
                            if(isGameOver.value) playSound('losemusic.ogg')
                            clearInterval(interval1)
                            clearInterval(interval2)
                            clearInterval(interval3)
                            clearInterval(interval4)
                        }
                    }, PLANTS_INTERVAL)

                    interval2 = setInterval(() => {
                        intervalAttack()
                    }, ATTACK_INTERVAL)

                    interval3 = setInterval(() => {
                        new Array(Math.floor(Math.random()) + 1).fill(0).map(() => generateZombie())
                    }, ZOMBIE_GENERATE_INTERVAL)
                
                    interval4 = setInterval(() => {
                        generateSun()
                    }, SUN_GENERATE_INTERVAL)
                }

                function intervalPlants() {
                    map.value.forEach(items => {
                        items.forEach(item => {
                            if(!item && !item.interval) return
                            
                            item.plantInterval()
                        })
                    })
                    sunItems.value.forEach(item => item.sunInterval())
                }

                function intervalAttack() {
                    weapons.value.forEach((w, i) => { 
                        const weapon = document.getElementById(w.id)
                        const zombie = document.querySelector(`.zombie[data-y="${w.gameY}"]`)
                        
                        if(zombie) {
                            const zombieLeft = zombie.getBoundingClientRect()
                            const weaponLeft = weapon.getBoundingClientRect()

                            if(weaponLeft.left - zombieLeft.left > 20) {
                                playSound(randimize(['splat.ogg','splat2.ogg','splat3.ogg']))
                                const zombieId = zombie.getAttribute('id')
                                const zombieIndex = zombies.value.findIndex(z => z.id == zombieId)
                                zombies.value[zombieIndex].health -= 1
                                zombie.click()

                                if(zombies.value[zombieIndex].health === 0)
                                    zombies.value.splice(zombieIndex, 1)

                                weapons.value.splice(i, 1)
                                
                                if(zombieCount.value === MAX_ZOMBIES) isGameWin.value = true

                                return
                            }
                        }
                        w.weaponInterval()
                    })
                }

                function intervalZombies() {
                    zombies.value.forEach(z => {
                        z.zombieInterval()

                        if(z.x < -150) {
                            isGameOver.value = true
                            return
                        }

                        const zombie = document.getElementById(z.id)
                        const plant = document.querySelector(`.plant-item[data-y="${z.y}"][last-plant="true"]`)
        
                        if(!plant) return
                    
                        const zombieLeft = zombie.getBoundingClientRect()
                        const zombieId = zombie.getAttribute('id')
                        const plantLeft = plant.getBoundingClientRect()
                        const zombieIndex = zombies.value.findIndex(z => z.id == zombieId)
                        const between = zombieLeft.left - plantLeft.left
                        
                        if(between < 30) {
                            zombies.value[zombieIndex].eating = true
                            playSound(randimize(['chomp.ogg', 'chomp2.ogg', 'chompsoft.ogg']))
                            const plantX = plant.getAttribute('data-x')
                            const planty = plant.getAttribute('data-y')
                            
                            const p = map.value[+planty][+plantX]
                            p.health -= 1
                            p.warning = true

                            if(p.health === 0) {
                                p.warning = false
                                zombies.value[zombieIndex].eating = false
                                map.value[+planty][+plantX] = 0
                                playSound('gulp.ogg')
                            }
                        } else {
                            zombies.value[zombieIndex].eating = false
                        }
                    })
                }

                function isLastPlant(x, y) {
                    for(let i = 8; i > x; i--) {
                        if(map.value[y][i] !== 0) {
                            return false
                        }
                    }
                    return true
                }

                function removeSun(id) {
                    const index = sunItems.value.findIndex(s => s.id === id)
                    sunItems.value.splice(index, 1)
                }

                function removeWeapon(id) {
                    const index = weapons.value.findIndex(s => s.id === id)
                    weapons.value.splice(index, 1)
                }

                function sunPlantCallback (id) {
                    const _id = 'sun-'+id
                    const plant = document.getElementById(id)
                    const { left, top } = plant.getBoundingClientRect()
                    
                    const sun = new Sun(_id, Math.floor(left), Math.floor(top), 7, () => removeSun(_id))
                    sunItems.value.push(sun)
                }

                function attackPlantCallback(id, y) {            
                    if(!zombies.value.some(z => z.y === y)) return
                    playSound(randimize(['throw.ogg', 'throw2.ogg']))

                    const _id = 'weapon' + Date.now()
                    const plant = document.getElementById(id)
                    const { left, top } = plant.getBoundingClientRect()
                    
                    const weapon = new Weapon(_id, Math.floor(left), Math.floor(top), 10, null, () => {
                        removeWeapon(_id)
                    }, y)
                    weapons.value.push(weapon)
                }

                function zombieCallback(id) {

                }

                function generateSun() {
                    const gameArea = document.querySelector('.areas')
                    
                    const sizes = gameArea.getBoundingClientRect()

                    const sunId = 'sun-'+Date.now()

                    const sun = new Sun(sunId, Math.floor(Math.random() * sizes.width), Math.floor(Math.random() * sizes.height), 7, () => removeSun(sunId))

                    sunItems.value.push(sun)
                }

                function randimize(array) {
                    return array[Math.floor(Math.random()*array.length)]
                }
            

                onMounted(() => {
                    window.addEventListener('mousemove', onMouseMove)
                    window.addEventListener('mousedown', onMouseDown)
                })


                return {
                    MAX_ZOMBIES,
                    SUN_PLANT_COOLDOWN,
                    ATTACK_PLANT_COOLDOWN,
                    plant,
                    suns,
                    currentX,
                    currentY,
                    initialX,
                    initialY,
                    position,
                    map,
                    zombies,
                    zombieCount,
                    cursor,
                    sunItems,
                    weapons,
                    isGameWin,
                    isGameOver,
                    isStarted,
                    sunPlantCooldown,
                    attackPlantCooldown,
                    onMouseDown,
                    onMouseMove,
                    add,
                    addSunScore,
                    playSound,
                    open,
                    close,
                    start,
                    sunItemClick,
                    isLastPlant,
                }
            },
        });

        app.mount('#game');
    </script>
</body>

</html>
<!-- 
    TODO:
    [+|-] zobie generate | fix kill bug
    [+] zobie kill
    [+] zobie eat
    [+] game over
    [+] coldown
    [+] area suns
    [-] repeated main song
    [-] eat sound
    [-] optimise timings
-->